body
  font-family: 'Roboto Mono'
.hash
  width: 60%
.tx-hash
  width: 55%
.datetime
  width: 12%
.address
  width: 70%
.index
  width: 12%
.type
  width: 15%
.header
  align-items: center
  cell
    align-self: center

h1
  font-size: 1.8em
h2
  font-size: 1.7em
h3
  font-size: 1.6em

@media only screen and (max-width: 600px)
  .index
    width: 15%
  .hash
    width: 70%

.pagination
  ul
    padding: 0
    li
      margin-right: 10px
      display: inline-block
      list-style: none